In [1]:
fruits=["apples","grapes","oranges","banana"]

In [2]:
fruits

['apples', 'grapes', 'oranges', 'banana']

In [3]:
fruits.clear()

In [4]:
fruits

[]

In [5]:
del fruits

In [6]:
fruits

NameError: name 'fruits' is not defined

In [8]:
fruits=["apples","grapes","oranges","banana"]

In [9]:
fruits

['apples', 'grapes', 'oranges', 'banana']

In [10]:
fruits.sort()

In [11]:
fruits

['apples', 'banana', 'grapes', 'oranges']

In [12]:
fruits.reverse()

In [13]:
fruits

['oranges', 'grapes', 'banana', 'apples']

In [14]:
list1=["telugu","english","maths","hindi","social","science"]
list1

['telugu', 'english', 'maths', 'hindi', 'social', 'science']

In [15]:
list1.sort()
list1

['english', 'hindi', 'maths', 'science', 'social', 'telugu']

In [19]:
list2=['z','g','b','a','d']
list2.sort()
list2

['a', 'b', 'd', 'g', 'z']

In [18]:
list2.sort()
list2

['a', 'b', 'd', 'g', 'z']

In [20]:
tup1=(1,2,3,4)
tup2=(5,6,7)
tup3=tup1+tup2
tup3

(1, 2, 3, 4, 5, 6, 7)

In [23]:
tup3[0]

1

In [24]:
tup1[0]

1

In [25]:
tup3[4]

5

In [27]:
tup3[0]

1

In [28]:
var="hello"
var

'hello'

In [29]:
dict1={'name':'zara','age':7,'class':'first'}
dict1

{'name': 'zara', 'age': 7, 'class': 'first'}

In [32]:
print(dict1['age'])

7

In [39]:
dict1['class']

'first'

In [33]:
dict1['age']=10
dict1

{'name': 'zara', 'age': 10, 'class': 'first'}

In [37]:
print("dict['name']:",dict1['name'])

dict['name']: zara

In [38]:
 len(dict1)

3

In [40]:
dict1.keys()

dict_keys(['name', 'age', 'class'])

In [41]:
dict1.values()

dict_values(['zara', 10, 'first'])

In [42]:
dict1.items()

dict_items([('name', 'zara'), ('age', 10), ('class', 'first')])

In [46]:
dict1.update({'fee':10000})

In [48]:
dict1

{'name': 'zara', 'age': 10, 'class': 'first', 'fee': 10000}

In [49]:
dict1['fee']=8500
dict1

{'name': 'zara', 'age': 10, 'class': 'first', 'fee': 8500}